<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        {{>header}}
        <main>
            <p>This site was created by Peter Fotis. It uses data from mapbox.com and weatherstack.com!</p>
            <img src="/img/IMG_1180.jpeg">
        </main>
        {{>footer}}
    </body>

</html>