header{
    background-color: lightpink;
    position:fixed; 
    top: 0px;
    right: 0px;
    left: 0px;
}

h1 {
    color: grey;
}

body {
    padding-top: 10%;
    background-color: lightblue;
}

img {
    width: 250px;
}

footer {
    background-color: lightgreen;
    height: 40px;
    position:fixed; 
    bottom:0px; 
    left:0px; 
    right:0px;
}