header {
    background-color: darkgray;
    position:fixed; 
    top: 0px;
    right: 0px;
    left: 0px;
    color: darkblue;
    padding-left: 10%;
}

h1 {
    font-size: 53px;
}

header a {
    text-decoration:none;
    color: darkblue;
    margin-right: 15px;
}

a:hover {
    color: darkred;
}

body {
    padding: 10% 0 0 10%;
    background-color: lightgray;
}

main {
    margin-top: 5%;
}

img {
    width: 250px;
}

footer {
    background-color: darkgrey;
    padding: 10px 0 0 10%;
    position:fixed; 
    bottom:0px; 
    left:0px; 
    right:0px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}